@import ../../styles/helpers

.searchBarContainer
  position: fixed
  z-index: 999
  width: 100%
  max-width: inherit
  background: white

.searchWrapper
  position: relative
  margin: 10px
  +wmin(1024)
    margin-top: 30px

.searchContainer
  max-width: 510px
  margin: 0 auto
  display: flex
  gap: 10px
